@model MZ_Lab_MVC.ViewModels.AcademicArticleDeleteViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutBracket.cshtml";
}

<div class="pageheader">
    <h2><i class="fa fa-edit"></i> AcademicArticleManage<span>学術文章を管理する. </span></h2>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "SystemManage")">Index</a></li>
            <li>AcademicArticle</li>
            <li><a href="@Url.Action("Index", "ProductManage")">AcademicArticle List</a></li>
            <li class="active">Delete</li>
        </ol>
    </div>
</div>

<div class="contentpanel">
    <div class="panel panel-default">
        @using (Html.BeginForm("Delete", "AcademicArticleManage", FormMethod.Post, htmlAttributes: new { @class = "" }))
        {
            <div class="panel-heading">
                <div class="panel-btns">
                    <a class="panel-close"></a>
                    <a class="minimize"></a>
                </div>
                <h4 class="panel-title">Delete</h4>
                <p>下の学術文章を削除するか？</p>
            </div>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            @Html.HiddenFor(model => model.Id)
            <div class="panel-body panel-body-nopadding">
                <div class="form-horizontal form-bordered">

                    <div class="form-group">
                        @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-6 control-content">
                            <label class="control-label">
                                @Html.DisplayFor(model => model.Id, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CoverImgUrl, htmlAttributes: new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-6 control-content">
                            <label class="control-label">
                                @Html.DisplayFor(model => model.CoverImgUrl, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FullDescription, htmlAttributes: new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-6 control-content">
                            <label class="control-label">
                                @Html.DisplayFor(model => model.FullDescription, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PostTime, htmlAttributes: new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-6 control-content">
                            <label class="control-label">
                                @Html.DisplayFor(model => model.PostTime, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.IsDetailed, htmlAttributes: new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-6 control-content">
                            <label class="control-label">
                                @Html.DisplayFor(model => model.IsDetailed, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-6 control-content">
                            <label class="control-label">
                                @Html.DisplayFor(model => model.Title, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Title_EN, htmlAttributes: new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-6 control-content">
                            <label class="control-label">
                                @Html.DisplayFor(model => model.Title_EN, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.EventName, htmlAttributes: new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-6 control-content">
                            <label class="control-label">
                                @Html.DisplayFor(model => model.EventName, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.EventPlace, htmlAttributes: new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-6 control-content">
                            <label class="control-label">
                                @Html.DisplayFor(model => model.EventPlace, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PublishTime, htmlAttributes: new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-6 control-content">
                            <label class="control-label">
                                @Html.DisplayFor(model => model.PublishTime, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BookInfo, htmlAttributes: new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-6 control-content">
                            <label class="control-label">
                                @Html.DisplayFor(model => model.BookInfo, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Editors, htmlAttributes: new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-6 control-content">
                            <label class="control-label">
                                @Html.DisplayFor(model => model.Editors, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "col-sm-3 control-label" })
                        <div class="col-sm-6 control-content">
                            <label class="control-label">
                                @Html.DisplayFor(model => model.Remark, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <button class="btn btn-danger" type="submit">Delete</button>
                        <a class="btn btn-default" href="@Url.Action("Index")">Back</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div><!-- contentpanel -->