@model MZ_Lab_MVC.ViewModels.MemberViewModel
@{
    ViewData["Title"] = "Member";
}

<section>
    <div class="center-img-container">
        <img src="~/img/slice-plant2.jpg" alt="" class="center-img-object">
    </div>
</section>
<section class="personal-card-area padding-vertical-60px">
    <div class="container padding-vertical-60px">
        <div class="row">
            <div class="row"><div class="col-xs-12 col-md-6 col-md-offset-3 margin-vertical-15px center-object">
                    <div class="single-personal-card padding-vertical-30px padding-horizontal-15px">
                        <div class="row">
                            <div class="col-xs-12 col-md-3 single-personal-card-header center-container padding-vertical-15px">
                                <div class="mask-circle center-object">
                                    <img src="~/img/avatars/thumbnail_miya.png" alt="">
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3 single-personal-card-body padding-vertical-15px">
                                <pre>Miyazaki Yoshinori</pre>
                                <a href="https://www.facebook.com/yoshinori.miyazaki.14">
                                    <h4>宮崎 佳典</h4>
                                </a>
                                <small>教員</small>
                            </div>
                            <div class="col-xs-6 col-md-6 single-personal-card-footer padding-vertical-15px">
                                <small>
                                    好きな言葉は「情けは人の為ならず」「働かざる者食うべからず」です．</br>
                                    精進あるのみ！o(^o^)o
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            @foreach (var member in Model.Members)
            {
                <div class="col-xs-12 col-md-6 margin-vertical-15px">
                    <div class="single-personal-card padding-vertical-30px padding-horizontal-15px">
                        <div class="row">
                            <div class="col-xs-12 col-md-3 single-personal-card-header center-container padding-vertical-15px">
                                <div class="mask-circle center-object">
                                    <img src="@Url.Content(member.AvatarUrl)" alt="">
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3 single-personal-card-body padding-vertical-15px">
                            <pre>@member.FamilyNamePronunciation @member.GivenNamePronunciation</pre>                          
                            @if(member.Remark!="")
                            {
                                <a href="@(member.Remark)">                                                     
                                    <h4>@member.FamilyName @member.GivenName</h4>
                                </a>
                            }
                            else
                            {
                                <h4>@member.FamilyName @member.GivenName</h4>
                            }
                                <small>@member.Major, @member.Grade</small>
                            </div>
                            <div class="col-xs-6 col-md-6 single-personal-card-footer padding-vertical-15px">
                                <small>
                                @if(!String.IsNullOrEmpty(member.Introduction))
                                {
                                    @Html.Raw(member.Introduction.Replace(Environment.NewLine, "<br/>"))
                                }                            
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>