@model MZ_Lab_MVC.ViewModels.MemberViewModel
@{
    ViewData["Title"] = "Member";
}

<section>
    <div class="center-img-container">
        <img src="~/img/slice-plant2.jpg" alt="" class="center-img-object">
    </div>
</section>
<section class="personal-card-area padding-vertical-60px">
    <div class="container padding-vertical-60px">
        <div class="row">
            @foreach (var member in Model.Members)
            {
                <div class="col-xs-12 col-md-6 margin-vertical-15px">
                    <div class="single-personal-card padding-vertical-30px padding-horizontal-15px">
                        <div class="row">
                            <div class="col-xs-12 col-md-3 single-personal-card-header center-container padding-vertical-15px">
                                <div class="mask-circle center-object">
                                    <img src="@Url.Content(member.AvatarUrl)" alt="">
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-3 single-personal-card-body padding-vertical-15px">
                                <pre>@member.FamilyNamePronunciation @member.GivenNamePronunciation</pre>
                                <h4>@member.FamilyName @member.GivenName</h4>
                                <small>@member.Major, @member.Grade</small>
                            </div>
                            <div class="col-xs-6 col-md-6 single-personal-card-footer padding-vertical-15px">
                                <small>
                                    @Html.Raw(member.Introduction.Replace(Environment.NewLine, "<br/>"))
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>